@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
.error-container {
  background: #dceaee url('../../assets/img/icons/ic_covid-bg-patterns.svg')
    no-repeat center/cover;
}

@media only screen and (min-width: 768px) {
  .error-container {
    height: calc(100vh - 125px);
  }
}

.error-text {
  width: 260px;
  height: 280px;
  background: url('../../assets/img/icons/ic_covid-icon.svg') no-repeat;
  background-size: 100%;
}

@media only screen and (min-width: 768px) {
  .error-text {
    width: 320px;
    height: 323px;
    background-size: center cover;
  }
}

@font-face {
  font-family: 'GTEestiPro';
  src: url('../font/GTEestiProDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTEestiPro';
  src: url('../font/GTEestiProDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GTEestiPro';
  src: url('../font/GTEestiProDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

.react-tabs {
  margin-top: 58px;
}

.react-tabs__tab-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  padding-bottom: 0;
}

.react-tabs__tab-list:hover,
.react-tabs__tab-list:focus {
  color: #1fbbec;
}

.react-tabs__tab-list::before,
.react-tabs__tab-list::after {
  content: '';
}

.react-tabs .react-tabs__tab {
  color: #293e45;
  padding: 8px 16px;
  cursor: pointer;
  line-height: 1.1;
}

.react-tabs .react-tabs__tab--selected {
  color: #fff;
  background-color: #1fbbec;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 8px;
}

.simple-tab .react-tabs .worldmap-tab .react-tabs__tab-list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .simple-tab .react-tabs .worldmap-tab .react-tabs__tab-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 67px;
    background: rgba(41, 62, 69, 0.1);
    border-radius: 4px;
    padding: 18px 14px;
    margin-right: 24px;
    margin-bottom: 24px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

.simple-tab .react-tabs .worldmap-tab .react-tabs__tab {
  border: none;
  margin: 0;
  text-align: center;
  opacity: 0.5;
  margin-bottom: -12px;
  position: relative;
  z-index: 1;
  padding: 14px 22px 23px;
}

@media only screen and (min-width: 768px) {
  .simple-tab .react-tabs .worldmap-tab .react-tabs__tab {
    padding: 0;
    margin-bottom: 15px;
  }
}

.simple-tab .react-tabs .worldmap-tab .react-tabs__tab:hover,
.simple-tab .react-tabs .worldmap-tab .react-tabs__tab:focus {
  opacity: 1;
}

.simple-tab .react-tabs .worldmap-tab .react-tabs__tab:hover > *,
.simple-tab .react-tabs .worldmap-tab .react-tabs__tab:focus > * {
  color: #1fbbec;
  fill: #1fbbec;
}

.simple-tab
  .react-tabs
  .worldmap-tab
  .react-tabs__tab.react-tabs__tab--selected {
  opacity: 1;
  position: relative;
}

.simple-tab
  .react-tabs
  .worldmap-tab
  .react-tabs__tab.react-tabs__tab--selected:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #1fbbec;
  border-radius: 0 0 4px 4px;
}

.simple-tab
  .react-tabs
  .worldmap-tab
  .react-tabs__tab.react-tabs__tab--selected
  > * {
  position: relative;
  color: #fff;
  fill: #fff;
}

@media only screen and (min-width: 768px) {
  .simple-tab
    .react-tabs
    .worldmap-tab
    .react-tabs__tab.react-tabs__tab--selected:before {
    width: 76px;
    left: -14px;
    top: -10px;
    border-radius: 0 4px 4px 0;
  }
}

.contract-switch li {
  border-bottom: 2px solid transparent;
}

.contract-switch li.active {
  border-bottom-color: #1fbbec;
}

.simple-tab .react-tabs {
  @apply mt-0;
}

.simple-tab .react-tabs .react-tabs__tab {
  background: transparent;
  color: #293e45;
  font-size: 12px;
  padding: 0 0 2px;
  border-bottom: 4px solid transparent;
  margin-right: 16px;
}

@media only screen and (min-width: 768px) {
  .simple-tab .react-tabs .react-tabs__tab {
    font-size: 16px;
  }
}

.simple-tab .react-tabs .react-tabs__tab:last-child {
  @apply mr-0;
}

.simple-tab .react-tabs .react-tabs__tab--selected {
  @apply border-primary-blue;
}

.table-scroll {
  max-height: 700px;
  overflow-y: auto;
}

.table-scroll thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  @apply bg-primary-gray;
}

table {
  width: 100%;
  max-width: 100%;
  background: transparent;
}

table thead th {
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 8px 8px;
  vertical-align: bottom;
}

table tbody td {
  vertical-align: top;
  padding: 18px 8px 12px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 14px;
  background-color: #fff;
}

table tbody tr:hover td {
  @apply bg-blue-0;
}

.table thead th:first-child td:first-child {
  padding-left: 20px;
}

.table tbody tr:first-child td:first-child,
.table tbody > a:first-child td:first-child {
  border-top-left-radius: 6px;
}

.table tbody tr:first-child td:last-child,
.table tbody > a:first-child td:last-child {
  border-top-right-radius: 6px;
}

.table tbody tr:last-child td:first-child,
.table tbody > a:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

.table tbody tr:last-child td:last-child,
.table tbody > a:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.table tbody tr td:first-child,
.table tbody > a td:first-child {
  padding-left: 20px;
}

.table tbody tr.has-red-flag td,
.table tbody > a.has-red-flag td {
  background-color: #fae9e9;
}

.table thead th:first-child {
  padding-left: 20px;
}

.table__resources tbody tr {
  vertical-align: top;
  border-bottom: 1px solid #f1f1f1;
  background-color: #fff;
}

.table__resources tbody tr:hover {
  @apply bg-blue-0;
}

.table__resources tbody tr td {
  border: 0;
}

.status-indicator {
  width: 10px;
  height: 10px;
  min-height: 10px;
  min-width: 10px;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
  margin-right: 4px;
}

.status-indicator.active {
  background-color: #b174fe;
}

.status-indicator.completed {
  background-color: #43ce94;
}

.status-indicator.canceled {
  background-color: #c3bdcc;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tooltip {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.23s linear;
  transition: all 0.23s linear;
}

.tooltip a {
  display: inline-block;
  background: #3d393d;
  padding: 6px 16px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
}

.amcharts-amexport-item {
  width: auto !important;
  padding: 4px 8px !important;
  opacity: 1 !important;
  background-color: #fff !important;
  border: 1px solid #45beec;
  color: #45beec !important;
  font-size: 14px !important;
  cursor: pointer !important;
}

.amcharts-amexport-top .amcharts-amexport-item > .amcharts-amexport-menu {
  top: -3px !important;
  left: 2px;
}

.amcharts-amexport-label {
  padding: 0 4px !important;
  cursor: pointer !important;
}

.select-filter__control[class] {
  border: none;
  background: none;
  border-radius: 0;
  border-bottom: 2px solid #1fbbec;
  color: #293e45;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 28px;
}

@media only screen and (min-width: 768px) {
  .select-filter__control[class] {
    color: #293e45;
    border-bottom-color: #1fbbec;
  }
}

.select-filter__value-container[class] {
  padding: 0;
}

.select-filter__indicator-separator[class] {
  display: none;
}

.select-filter__indicator[class] {
  padding: 0;
}

.select-filter--input input,
.select-filter--input .field {
  padding: 3px 0 5px;
  background: none;
  border-bottom: 2px solid #fff;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 1.4;
  outline: none;
  color: #333;
}

@media only screen and (min-width: 768px) {
  .select-filter--input input,
  .select-filter--input .field {
    border-bottom-color: #1fbbec;
  }
}

.select-filter--input input::-webkit-input-placeholder,
.select-filter--input .field::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.select-filter--input input::-moz-placeholder,
.select-filter--input .field::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.select-filter--input input:-ms-input-placeholder,
.select-filter--input .field:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.select-filter--input input:-moz-placeholder,
.select-filter--input .field:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .select-filter--input input::-webkit-input-placeholder,
  .select-filter--input .field::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: gray;
  }
  .select-filter--input input::-moz-placeholder,
  .select-filter--input .field::-moz-placeholder {
    /* Firefox 19+ */
    color: gray;
  }
  .select-filter--input input:-ms-input-placeholder,
  .select-filter--input .field:-ms-input-placeholder {
    /* IE 10+ */
    color: gray;
  }
  .select-filter--input input:-moz-placeholder,
  .select-filter--input .field:-moz-placeholder {
    /* Firefox 18- */
    color: gray;
  }
}

.select-filter .select-filter__menu {
  z-index: 9999 !important;
}

.styled-checkbox {
  position: relative;
}

.styled-checkbox-input {
  position: absolute;
  opacity: 0;
}

.styled-checkbox-input + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox-input + label:before {
  content: '';
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 4px;
  border: 2px solid #1fbbec;
}

.styled-checkbox-input:checked + label:before {
  background: #1fbbec;
}

.styled-checkbox-input:checked + label:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 7px;
  background: white;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
    4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.loader:before,
.loader:after {
  content: '';
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #1fbbec;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: animloader 2s linear infinite;
  animation: animloader 2s linear infinite;
}

.loader:after {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes animloader {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes animloader {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.tooltip-icon {
  width: 20px;
  height: 20px;
}

.tooltip-icon svg {
  fill: currentColor;
}

.tooltip-content {
  background: #454545;
  min-width: 200px;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  opacity: 0;
  top: 30px;
  pointer-events: none;
  -webkit-transition: all 0.23s linear;
  transition: all 0.23s linear;
  right: -6px;
  z-index: 999;
}

.tooltip-content:before {
  content: '';
  position: absolute;
  top: -6px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #454545;
  right: 8px;
}

@media only screen and (min-width: 768px) {
  .tooltip-content {
    left: -6px;
    right: auto;
  }
  .tooltip-content:before {
    content: '';
    top: -6px;
    right: auto;
    left: 8px;
  }
}

.tooltip-wrap:hover .tooltip-content,
.tooltip-wrap:focus .tooltip-content {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.23s linear;
  transition: all 0.23s linear;
}

.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container .pagination-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination-container .pagination-item {
  margin: 0 4px;
  color: #1fbbec;
  font-size: 14px;
  padding: 2px 8px;
}

.pagination-container .pagination-item.active {
  background-color: #1fbbec;
  color: #fff;
  border-radius: 4px;
  outline: none;
}

.pagination-container .pagination-item.active a {
  color: #fff;
  outline: none;
}

.pagination-container .pagination-item a {
  color: #1fbbec;
  font-size: 14px;
  cursor: pointer;
}

.pagination-container .pagination-item.next,
.pagination-container .pagination-item.prev {
  text-indent: -9999px;
  position: relative;
}

.pagination-container .pagination-item.next a::after,
.pagination-container .pagination-item.prev a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pagination-container .pagination-item.next {
  margin-left: 8px;
}

.pagination-container .pagination-item.next a::after {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #1fbbec;
}

.pagination-container .pagination-item.prev {
  margin-right: 8px;
}

.pagination-container .pagination-item.prev a::after {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #1fbbec;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination .page-item {
  margin-right: 12px;
}

.pagination .page-item:last-child {
  margin-right: 0;
}

.pagination .page-item.active {
  background: #1fbbec;
}

.pagination .page-link {
  width: 24px;
  height: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
}

.spinner {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: white;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.swiper-pagination-bullet-active {
  background: #1fbbec !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: auto !important;
  height: auto !important;
  top: 100% !important;
  color: #1fbbec !important;
}

@media only screen and (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 98% !important;
  }
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  font-size: 18px !important;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.2 !important;
}

.swiper-button-prev:before {
  content: 'Previous';
  position: absolute;
  top: 0;
  left: 18px;
  font-size: 14px;
}

.swiper-button-next:before {
  content: 'Next';
  position: absolute;
  top: 0;
  right: 18px;
  font-size: 14px;
}

.swiper-container.swiper-container-horizontal {
  padding-bottom: 40px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
  }
}

.race-map-section {
  width: 100%;
  height: 500px;
}

@media only screen and (min-width: 768px) {
  .race-map-section {
    height: 750px;
  }
}

.h-500 {
  width: 100%;
  height: 700px;
}

@media only screen and (min-width: 768px) {
  .h-500 {
    height: 500px;
  }
}

.h-500.global-map-section {
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .h-500.global-map-section {
    height: 700px;
  }
}

.h-500.compare-chart-section {
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .h-500.compare-chart-section {
    height: 700px;
  }
}

.h-400 {
  width: 100%;
  height: 400px;
}

.country-map-section {
  width: 100%;
  height: 430px;
  min-height: 400px;
}

.fullscreen-enabled {
  background: #fff;
  padding: 50px;
}

.fullscreen-enabled .race-map-section,
.fullscreen-enabled .country-map-section,
.fullscreen-enabled .h-400,
.fullscreen-enabled .h-500,
.fullscreen-enabled .chart-full {
  width: 100%;
  height: calc(100vh - 120px) !important;
}

.chart-footer .share-menu {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #dedede;
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 14px;
  min-width: 150px;
  padding: 10px;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  z-index: 999;
}

.chart-footer button + .share-menu:active,
.chart-footer button:focus + .share-menu {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.social-icon {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #797979 !important;
  margin-bottom: 14px;
}

.social-icon:last-child {
  margin-bottom: 0;
}

.social-icon > span {
  display: inline-block;
  margin-left: 16px;
}

.social-icon.email {
  border-bottom: 1px solid #e9e9e9 !important;
  padding-bottom: 16px !important;
  margin-bottom: 0 !important;
}

.social-embed {
  color: #797979 !important;
}

#react-simple-modal-container .rsm-bg-white {
  min-height: 95% !important;
}

.bar-chart-race .chart-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-bottom: 16px;
}

.bar-chart-race .chart-footer .share-menu {
  bottom: 50px;
  top: auto;
  -webkit-transform: translateY(325px);
  transform: translateY(325px);
}

.custom-horizontal-bar ul li {
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 15px;
}

.custom-horizontal-bar ul li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.custom-horizontal-bar .custom-horizontal-bar-text {
  width: 236px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .custom-horizontal-bar .custom-horizontal-bar-text {
    width: 180px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.custom-horizontal-bar .custom-horizontal-bar-text h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.custom-horizontal-bar .custom-horizontal-bar-amount {
  width: 90px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.custom-horizontal-bar .custom-horizontal-bar-progress {
  height: 14px;
  width: 100%;
  margin-bottom: 8px;
  background: #dceaee;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .custom-horizontal-bar .custom-horizontal-bar-progress {
    width: calc(100% - 180px);
    margin-bottom: 0;
  }
}

.custom-horizontal-bar .custom-horizontal-bar-progress span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #abbabf;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.23s ease-in-out;
  transition: all 0.23s ease-in-out;
}

.custom-horizontal-bar.simple-bar ul li {
  border: none;
  margin-bottom: 0;
}

.custom-horizontal-bar.simple-bar ul li:last-child {
  padding-bottom: 0;
}

.custom-horizontal-bar.simple-bar .custom-horizontal-bar-text {
  width: 90px;
}

.custom-horizontal-bar.simple-bar .custom-horizontal-bar-progress {
  width: calc(100% - 80px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #dceaee;
  box-shadow: inset 0 0 6px #dceaee;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1fbbec;
  outline: 1px solid #1fbbec;
}

.toggle-switch {
  position: relative;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

.toggle-switch-checkbox {
  display: none;
}

.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
  margin: 0;
}

.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.toggle-switch-inner:before,
.toggle-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 16px;
  padding: 0;
  line-height: 16px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.toggle-switch-inner:before {
  content: '';
  text-transform: uppercase;
  padding-left: 10px;
  background-color: #1fbbec;
  color: #fff;
}

.toggle-switch-disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.toggle-switch-disabled:before {
  background-color: #ddd;
  cursor: not-allowed;
}

.toggle-switch-inner:after {
  content: '';
  text-transform: uppercase;
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}

.toggle-switch-switch {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 13px;
  border: 0 solid #bbb;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0px;
}

.hero-section {
  position: relative;
}

.hero-section::before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(
      89.93deg,
      rgba(61, 57, 61, 0.9) 32.6%,
      rgba(61, 57, 61, 0.3) 93.07%
    ),
    url('../img/hero-image.jpg') no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-section .outer-circle {
  width: 667px;
  height: 667px;
}

@media (max-width: 767px) {
  .hero-section .outer-circle {
    width: 100%;
    height: 100%;
    border: 2px dashed rgba(255, 255, 255, 0.5);
    padding: 4px;
    border-radius: 4px;
  }
}

.hero-section .inner-circle {
  width: 633px;
  height: 633px;
}

@media (max-width: 767px) {
  .hero-section .inner-circle {
    width: 100%;
    height: 100%;
  }
}

.covid-icon {
  position: absolute;
  left: -40%;
  top: 130px;
}

.lang::after {
  content: '';
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  right: 7px;
  top: 12px;
  pointer-events: none;
}

.countrySelector {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.countrySelector::after {
  content: '';
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #293e45;
  right: 7px;
  top: 13px;
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .countrySelector::after {
    top: 28px;
  }
}

.library__tag {
  @apply p-2 rounded-md bg-blue-20 text-center text-white text-xs inline-block mb-2 font-bold;
}

.library__heading {
  @apply text-lg leading-tight mb-2 font-normal overflow-hidden;
  max-height: 54px;
}

.library__date {
  @apply text-sm text-primary-dark text-opacity-75;
}

button,
a,
Tab {
  outline: none;
}

button:focus,
a:focus,
Tab:focus {
  outline: none;
}

.currency {
  border: 1px solid #1fbbec;
}

.worldmap-share {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.worldmap-share .worldmap-share--buttons {
  border: 1px solid #1fbbec;
  display: none;
  bottom: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.worldmap-share:hover .worldmap-share--buttons {
  display: block;
}

.countrySelector option {
  @apply text-sm;
}

.news-caption {
  @apply absolute  text-white bottom-0 px-4 pb-4;
}

@screen lg {
  .news-caption--large {
    @apply px-10 py-5;
  }
}

.news-caption--large .news-caption__title {
  @apply leading-snug overflow-hidden;
}

.news-caption__title {
  @apply text-lg leading-tight;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .news-caption__title {
    -webkit-line-clamp: 3;
  }
}

.news-caption__date {
  @apply text-sm opacity-50;
}

.news-wrapper .news-item {
  @apply relative col-span-12;
}

@screen sm {
  .news-wrapper .news-item {
    @apply col-span-6;
  }
}

@screen lg {
  .news-wrapper .news-item {
    @apply col-span-3;
  }
}

.news-wrapper .news-item:first-child {
  @apply col-span-12;
}

@screen sm {
  .news-wrapper .news-item:first-child {
    @apply col-span-6;
  }
}

@screen lg {
  .news-wrapper .news-item:first-child {
    @apply col-span-6 row-span-2;
  }
}

.news-wrapper .news-item:not(:first-child) .img-wrapper {
  height: 200px;
}

.news-wrapper .news-link:hover .img-gradient::before {
  opacity: 0.1;
}

.main-news__item {
  @apply col-span-6 flex justify-between;
}

.main-news__item:first-child {
  @apply flex-col row-span-3;
}

.main-news__item:first-child .main-news__caption {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  z-index: 10;
  color: #fff;
  bottom: 20px;
  left: 20px;
  position: absolute;
}

.main-news__item:first-child .img-wrapper {
  max-width: unset;
  max-height: 100%;
  @apply m-0;
}

.main-news__item .img-wrapper {
  max-height: 120px;
  max-width: 135px;
  @apply mr-6;
}

.main-news__item .img-wrapper img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-news .news-caption__date {
  @apply mt-2;
}

.blogs-detail .img-wrapper,
.events-detail .img-wrapper,
.news-detail .img-wrapper {
  max-height: 554px;
}

.blogs-detail .img-wrapper img,
.events-detail .img-wrapper img,
.news-detail .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.blogs-detail__content,
.events-detail__content,
.news-detail__content {
  max-width: 640px;
}

.blogs-detail__content h1,
.blogs-detail__content h2,
.blogs-detail__content h3,
.blogs-detail__content h4,
.blogs-detail__content h5,
.blogs-detail__content h6,
.events-detail__content h1,
.events-detail__content h2,
.events-detail__content h3,
.events-detail__content h4,
.events-detail__content h5,
.events-detail__content h6,
.news-detail__content h1,
.news-detail__content h2,
.news-detail__content h3,
.news-detail__content h4,
.news-detail__content h5,
.news-detail__content h6 {
  @apply text-lg mb-6;
}

.blogs-detail__content p,
.events-detail__content p,
.news-detail__content p {
  @apply mb-8;
}

.blogs-detail__content ol,
.events-detail__content ol,
.news-detail__content ol {
  list-style: decimal;
}

.blogs-detail__content ul,
.events-detail__content ul,
.news-detail__content ul {
  list-style: disc;
}

.blogs-detail__content ol,
.blogs-detail__content ul,
.events-detail__content ol,
.events-detail__content ul,
.news-detail__content ol,
.news-detail__content ul {
  padding-left: 20px;
  @apply mb-6;
}

.blogs-detail__content a,
.events-detail__content a,
.news-detail__content a {
  @apply text-primary-blue;
}

@screen lg {
  .blogs-detail__metadata,
  .events-detail__metadata,
  .news-detail__metadata {
    max-width: 200px;
  }
}

.events-thumbnail,
.blogs-thumbnail,
.news-thumbnail {
  @apply col-span-12;
}

@screen sm {
  .events-thumbnail,
  .blogs-thumbnail,
  .news-thumbnail {
    @apply col-span-6;
  }
}

@screen lg {
  .events-thumbnail,
  .blogs-thumbnail,
  .news-thumbnail {
    @apply col-span-4;
  }
}

.events-thumbnail .img-wrapper,
.blogs-thumbnail .img-wrapper,
.news-thumbnail .img-wrapper {
  @apply mb-4;
  height: 240px;
}

.events-thumbnail .blogs-caption__title,
.events-thumbnail .news-caption__title,
.blogs-thumbnail .blogs-caption__title,
.blogs-thumbnail .news-caption__title,
.news-thumbnail .blogs-caption__title,
.news-thumbnail .news-caption__title {
  @apply mb-1;
  overflow: hidden;
}

.blogs-thumbnail .blogs-caption__title {
  font-size: 1.375rem;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blogs-thumbnail .blogs-caption__date {
  font-size: 0.875rem;
  opacity: 0.5;
}

.blogs-list .blogs-thumbnail .blogs-caption__title {
  max-height: 90px;
  @apply overflow-hidden;
}

.form-search {
  width: 348px;
}

.events .card__title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.resources .card__title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.display__item .img-wrapper .news__caption {
  position: absolute;
  bottom: 0;
}

.display__item .img-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(42.19%, rgba(41, 62, 69, 0)),
    to(#293e45)
  );
  background: linear-gradient(180deg, rgba(41, 62, 69, 0) 42.19%, #293e45 100%);
}

.news .display__item .img-wrapper {
  @apply h-full;
}

.news .list__item .news-thumbnail .img-wrapper {
  @apply h-auto;
  @apply m-0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  @apply w-1/3;
}

.news .list__item .news-thumbnail:not(:last-child) .news__item {
  border-bottom: 1px solid white;
  @apply pb-8 mb-8;
}

.news__list .display__item .img-wrapper {
  @apply h-full;
}

.news__list .list__item .news-thumbnail .img-wrapper {
  @apply h-auto;
  @apply m-0;
}

.news__list .list__item .news-thumbnail:not(:last-child) .news__item {
  @apply mb-8;
}

.card .img-wrapper {
  @apply h-auto;
}

.events .events-thumbnail {
  @apply bg-blue-0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.events .events-thumbnail:hover {
  @apply bg-blue-20;
  @apply text-white;
}

.events__past .events-thumbnail {
  @apply bg-primary-gray;
}

.resources .card__item {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.02),
    4px 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.02), 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.resources__cards .list__item .img-wrapper {
  @apply w-1/3;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.blogs-list .img-wrapper {
  @apply h-full;
}

.related-section {
  max-width: 246px;
}

.related-section .related__list {
  border-bottom: 1px solid #eeeeee;
}

.related-section .related__list img {
  height: 90px;
}

.related-section .related__list:last-child {
  border-bottom: 0;
  @apply mb-0 pb-0;
}

.detail__metadata {
  max-width: 170px;
}

.details ul {
  padding: 0;
  margin: 0;
}

.details ul li:before {
  content: '';
  position: absolute;
  height: 6px;
  width: 6px;
  left: 0;
  top: 6px;
  position: block;
  background: #1fbbec;
}

.details table {
  border: 1px solid #eee;
}

.details table tr:not(:last-child) {
  border: 1px solid #eee;
}

.details table th {
  width: 180px;
  border-right: 1px solid #eee;
}

.resource-download {
  border: 2px solid #dceaee;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased leading-snug;
  color: #293e45;
}

.header-inner-container {
  height: 125px;
}

header.header-inner {
  @apply relative;
  background-color: #293e45;
}

header.header-inner::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: auto;
  height: 35px;
  width: 110%;
  background: #293e45;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
}

header.header-inner .lang select {
  background-color: #447483 !important;
}

header a.active {
  @apply text-primary-blue font-bold;
}

#controls {
  @apply overflow-hidden pb-1;
}

.img-wrapper {
  @apply w-full h-full overflow-hidden;
}

.img-gradient {
  position: relative;
}

.img-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  @apply bg-blue-50;
}

.img-gradient::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(41, 62, 69, 0)),
    color-stop(78.65%, #293e45)
  );
  background: linear-gradient(180deg, rgba(41, 62, 69, 0) 0%, #293e45 78.65%);
}

.img-gradient img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.tag {
  @apply mr-2 mb-2 px-3 py-1 rounded-full bg-primary-gray text-primary-dark text-sm;
}

.social-icon {
  margin-bottom: 14px !important;
}

.social-icon:not(:last-child) {
  margin-right: 20px;
}

@apply relative

        &:before {
  .arrow-nav li.active {
    content: '';
    position: absolute;
    right: 0;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #1fbbec;
  }
}

.contract-line {
  width: 18px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contract-line .line {
  height: 2px;
  display: inline-block;
  width: 100%;
}

.contract-line .line.red {
  background: #f97878;
}

.contract-line .line.purple {
  background: #b174fe;
}

.contract-line .line.mint {
  background: #43ce94;
}

.contract-line .line.green {
  background: #b4bc3e;
}

.contract-line .line.blue {
  background: #419ab7;
}

.contract-text {
  width: calc(100% - 18px);
}

.global-profile > section {
  padding-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .global-profile > section {
    padding-bottom: 90px;
  }
}

.global-profile .react-tabs {
  margin-top: -40px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.global-profile .simple-tab .react-tabs {
  margin-top: 0;
}

.rsm-fixed {
  background-color: rgba(41, 62, 69, 0.9) !important;
  margin: 0 !important;
  padding: 16px;
}

.rsm-bg-white {
  max-width: 900px !important;
  width: 100% !important;
}

.secondary-nav ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .secondary-nav ul {
    font-size: 22px;
  }
}

.secondary-nav ul li {
  margin-right: 8px;
}

@media only screen and (min-height: 768px) {
  .secondary-nav ul li {
    margin-right: 16px;
  }
}

.secondary-nav ul li:last-child {
  margin-right: 0;
}

.secondary-nav ul li a {
  color: #293e45;
  padding: 8px;
  cursor: pointer;
  line-height: 1.1;
  display: inline-block;
}

.secondary-nav ul li a:hover,
.secondary-nav ul li a:focus,
.secondary-nav ul li a.active {
  color: #fff;
  background-color: #1fbbec;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 8px;
}

.map-wrapper .amcharts-amexport-menu-level-0.amcharts-amexport-top {
  right: 44px !important;
}

svg tspan {
  text-transform: capitalize;
}

.breadcrumb-separator:after {
  content: ' / ';
}

.text-field {
  border-bottom: 2px solid #ffffff;
  padding: 8px 0 9px 0;
  background-color: inherit;
}

@media only screen and (min-width: 768px) {
  .text-field {
    border-bottom-color: #1fbbec;
  }
}

.react-datepicker {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.product-worldmap-tab {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 67px;
  background: rgba(41, 62, 69, 0.1);
  border-radius: 4px;
  padding: 18px 14px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.product-worldmap-tablist.active {
  position: relative;
}

.product-worldmap-tablist.active > div {
  position: relative;
  color: #fff;
}

.product-worldmap-tablist.active:before {
  content: '';
  position: absolute;
  width: 76px;
  left: -14px;
  top: -5px;
  right: 0px;
  bottom: -5px;
  background: #1fbbec;
  border-radius: 0 4px 4px 0;
}

.right-direction .react-tabs__tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .right-direction .react-tabs__tab-list {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #374a50;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.icon-close:hover,
.icon-close:focus {
  background-color: #de5c52;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.icon-close:before,
.icon-close:after {
  content: '';
  width: 4px;
  height: 22px;
  position: absolute;
  background-color: #fff;
  display: inline-block;
  border-radius: 4px;
  top: 9px;
  left: 18px;
}

.icon-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.icon-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (min-height: 768px) {
  .world-map-section {
    min-height: 900px;
  }
}

@media only screen and (min-height: 768px) {
  .world-map-chart-section {
    width: calc(100% - 91px);
  }
}

.icon-sort {
  display: inline-block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 4px;
}

.icon-sort .icon-sort-arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ccc;
  margin-bottom: 2px;
}

.icon-sort .icon-sort-arrow-up.active {
  border-bottom-color: #8d989b;
}

.icon-sort .icon-sort-arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ccc;
}

.icon-sort .icon-sort-arrow-down.active {
  border-top-color: #8d989b;
}

.filter-ui {
  padding: 16px;
  background: #1fbbec;
  display: inline-block;
  border-radius: 4px 0 0 4px;
  position: absolute;
  top: 114px;
  right: -18px;
  z-index: 1;
}
/*# sourceMappingURL=main.css.map */
