NODE_ENV=development
REACT_APP_API_URL=https://admin.covid19.development.opencontracting.uk0.bigv.io
REACT_APP_SENTRY_DNS=null
REACT_APP_TRANSIFEX_TOKEN=null
REACT_APP_FATHOM_SRC=null
REACT_APP_FATHOM_SITE_KEY=null
