.race-map-section {
    width: 100%;
    height: 500px;

    @media only screen and (min-width: 768px) {
        height: 750px;
    }
}

.h-500 {
    width: 100%;
    height: 700px;

    @media only screen and (min-width: 768px) {
        height: 500px;
    }

    &.global-map-section {
        height: 300px;

        @media only screen and (min-width: 768px) {
            height: 700px;
        }
    }

    &.compare-chart-section {
        height: 300px;

        @media only screen and (min-width: 768px) {
            height: 700px;
        }
    }
}

.h-400 {
    width: 100%;
    height: 400px;
}

.country-map-section {
    width: 100%;
    height: 430px;
    min-height: 400px;
}

.fullscreen-enabled {
    background: #fff;
    padding: 50px;

    .race-map-section,
    .country-map-section,
    .h-400,
    .h-500,
    .chart-full {
        width: 100%;
        height: calc(100vh - 120px) !important;
    }
}

.chart-footer {
    .share-menu {
        opacity: 0;
        pointer-events: none;
        transition: 0.2s;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #dedede;
        position: absolute;
        top: 10px;
        left: 0;
        font-size: 14px;
        min-width: 150px;
        padding: 10px;
        transform: translateY(-5px);
        z-index: 999;
    }

    button + .share-menu:active,
    button:focus + .share-menu {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(20px);
    }
}

.social-icon {
    margin: 0;
    display: flex;
    align-items: center;
    color: #797979 !important;
    margin-bottom: 14px;

    &:last-child {
        margin-bottom: 0;
    }

    > span {
        display: inline-block;
        margin-left: 16px;
    }

    &.email {
        border-bottom: 1px solid #e9e9e9 !important;
        padding-bottom: 16px !important;
        margin-bottom: 0 !important;
    }
}

.social-embed {
    color: #797979 !important;
}

#react-simple-modal-container {
    .rsm-bg-white {
        min-height: 95% !important;
    }
}

.bar-chart-race {
    .chart-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding-bottom: 16px;

        .share-menu {
            bottom: 50px;
            top: auto;
            transform: translateY(325px);
        }
    }
}
