.race-map-section {
    @apply w-full;
    height: 500px;

    @media only screen and (min-width: 768px) {
        height: 700px;
    }
}

.race-bar-section {
    @apply w-full;
    height: 500px;

    @media only screen and (min-width: 768px) {
        height: 600px;
    }
}

.world-map-chart-section {
    .world-map-chart-container {
        @media only screen and (min-width: 768px) {
            padding-left: 110px;
            min-height: 700px;
        }
    }
}

.h-500 {
    @apply w-full;
    height: 700px;

    @media only screen and (min-width: 768px) {
        height: 500px;
    }

    &.global-map-section {
        height: 300px;

        @media only screen and (min-width: 768px) {
            height: 700px;
        }
    }

    &.compare-chart-section {
        height: 300px;

        @media only screen and (min-width: 768px) {
            height: 700px;
        }
    }
}

.h-400 {
    @apply w-full;
    height: 400px;
}

.country-map-section {
    @apply w-full;
    height: 430px;
    min-height: 400px;
}

.fullscreen-enabled {
    @apply bg-white p-2;
    @media only screen and (min-width: 992px) {
        @apply p-6;
    }

    .world-map-chart-container {
        @apply p-0;
    }

    .race-map-section,
    .country-map-section,
    .h-400,
    .h-500,
    .chart-full {
        @apply w-full;
        height: calc(100vh - 190px) !important;
    }
}

.social-icon {
    color: #797979 !important;
    margin-bottom: 14px;
    @apply m-0 flex items-center;

    &:hover,
    &:focus {
        color: #1fbbec !important;
    }

    &:last-child {
        @apply mb-0;
    }

    > span {
        display: inline-block;
        margin-left: 16px;
    }

    &.email {
        margin-bottom: 0 !important;
    }
}

.embedded-share {
    border-top: 1px solid #e9e9e9 !important;
    padding-top: 16px !important;
    @apply mt-4;
}

.social-embed {
    color: #797979 !important;

    &:hover,
    &:focus {
        color: #1fbbec !important;
    }
}

#react-simple-modal-container {
    .rsm-bg-white {
        min-height: 95% !important;
    }
}

.bar-chart-race-modal {
    height: calc(100vh - 78px);

    .race-map-section {
        height: calc(100vh - 200px);
    }

    .chart-footer {
        @apply absolute bottom-0 left-0 right-0 m-0 pb-4;

        .dropdown-menu {
            bottom: 50px;
            @apply top-auto;
        }
    }
}

.product-main-chart {
    @apply w-full;
    @media only screen and (min-width: 768px) {
        width: calc(100% - 91px);
    }
}

.dropdown-menu {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.23s linear;
    border: 1px solid #dedede;
    top: 26px;
    font-size: 14px;
    min-width: 150px;
    padding: 10px;
    transform: translateY(-5px);
    z-index: 999;
    @apply bg-white opacity-0 pointer-events-none rounded absolute left-0;
}

.dropdown-menu.active {
    visibility: visible;
    transform: translateY(0);
    @apply opacity-100 pointer-events-auto;
}
