.styled-checkbox {
    @apply relative;
}

.styled-checkbox-input {
    @apply absolute opacity-0;

    + label {
        @apply relative cursor-pointer p-0;

        &:before {
            content: '';
            vertical-align: text-top;
            @apply inline-block w-4 h-4 bg-white rounded border-2 border-primary-blue;
        }
    }

    &:checked + label {
        &:before {
            @apply bg-primary-blue;
        }

        &:after {
            content: '';
            left: 3px;
            top: 7px;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
                4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            @apply absolute bg-white;
        }
    }
}
