@font-face {
    font-family: 'GTEestiPro';
    src: url('../font/GTEestiProDisplay-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GTEestiPro';
    src: url('../font/GTEestiProDisplay-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GTEestiPro';
    src: url('../font/GTEestiProDisplay-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
