.tooltip-icon {
    width: 20px;
    height: 20px;

    svg {
        fill: currentColor;
    }
}

.tooltip-content {
    background: #454545;
    min-width: 200px;
    color: #fff;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    opacity: 0;
    top: 30px;
    pointer-events: none;
    transition: all 0.23s linear;
    right: -6px;
    z-index: 999;

    &:before {
        content: '';
        position: absolute;
        top: -6px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #454545;
        right: 8px;
    }

    @media only screen and (min-width: 768px) {
        left: -6px;
        right: auto;

        &:before {
            content: '';
            top: -6px;
            right: auto;
            left: 8px;
        }
    }
}

.tooltip-wrap {
    &:hover,
    &:focus {
        .tooltip-content {
            opacity: 1;
            pointer-events: auto;
            transition: all 0.23s linear;
        }
    }
}
