.tooltip-icon {
    @apply w-5 h-5;

    svg {
        @apply fill-current;
    }
}

.tooltip-content {
    background: #454545;
    min-width: 200px;
    font-size: 14px;
    top: 30px;
    transition: all 0.23s linear;
    left: -150px;
    z-index: 999;
    @apply text-white p-2 rounded opacity-0 pointer-events-none;

    @media only screen and (min-width: 768px) {
        right: -6px;
        @apply left-auto;
    }

    &:before {
        content: '';
        top: -6px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #454545;
        @apply absolute w-0 h-0 right-8;

        @media only screen and (min-width: 768px) {
            right: 8px;
            left: auto;
        }
    }
}

.tooltip-wrap {
    &:hover,
    &:focus {
        .tooltip-content {
            transition: all 0.23s linear;
            @apply opacity-100 pointer-events-auto;
        }
    }
}
