.tooltip {
    z-index: 100;
    transition: all 0.23s linear;
    @apply absolute pointer-events-none opacity-0;

    a {
        background: #3d393d;
        padding: 6px 16px;
        font-size: 18px;
        line-height: 18px;
        @apply inline-block text-white rounded;
    }
}
