.pagination-container {
    @apply flex justify-center mt-5;

    .pagination-items {
        @apply flex flex-wrap justify-center;
    }

    .pagination-item {
        font-size: 14px;
        padding: 2px 8px;
        @apply my-0 mx-1 text-primary-blue;

        &.active {
            @apply bg-primary-blue text-white rounded outline-none;

            a {
                @apply text-white outline-none;
            }
        }
        a {
            font-size: 14px;
            @apply text-primary-blue cursor-pointer;
        }
        &.next,
        &.prev {
            text-indent: -9999px;
            @apply relative;

            a::after {
                content: '';
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @apply absolute cursor-pointer rounded;
            }
        }
        &.next {
            @apply ml-2;
            a::after {
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid #1fbbec;
            }
        }
        &.prev {
            @apply mr-2;
            a::after {
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 8px solid #1fbbec;
            }
        }
    }
}

.pagination {
    @apply flex items-center justify-center;

    .page-item {
        @apply mr-3;

        &:last-child {
            @apply mr-0;
        }

        &.active {
            @apply bg-primary-blue;
        }
    }

    .page-link {
        @apply w-6 h-6 text-center flex items-center justify-center rounded-full;
    }
}
