.select-filter {
    &__control[class] {
        border: none;
        background: none;
        border-radius: 0;
        border-bottom: 2px solid #1fbbec;
        color: #293e45;
        box-shadow: none;
    }

    &__value-container[class] {
        padding: 0;
    }

    &__indicator-separator[class] {
        display: none;
    }

    &__indicator[class] {
        padding: 0;
    }

    &--input {
        input,
        .field {
            padding: 3px 0 5px;
            background: none;
            border-bottom: 2px solid #1fbbec;
            display: inline-block;
            width: 100%;
            font-size: 14px;
            line-height: 1.4;
            outline: none;
            color: #333;
        }
    }
}
