.select-filter {
    &.country {
        width: 120px;
    }
    &__control[class] {
        border: none;
        background: none;
        border-radius: 0;
        border-bottom: 2px solid #e8eff1;
        color: #293e45;
        box-shadow: none;
        min-height: 28px;
        font-size: 15px;
        line-height: 16px;
        padding-bottom: 3px;

        @media only screen and (min-width: 767px) {
            border-bottom-color: #1fbbec;
        }
    }

    &__value-container[class] {
        @apply p-0;
    }

    &__indicator-separator[class] {
        @apply hidden;
    }

    &__indicator[class] {
        @apply p-0;
    }

    &--input {
        input,
        .field {
            padding: 3px 0 5px;
            border-bottom: 2px solid #fff;
            font-size: 14px;
            line-height: 1.4;
            color: #333;
            @apply inline-block w-full bg-transparent outline-none bg-none;

            @media only screen and (min-width: 768px) {
                border-bottom-color: #1fbbec;
            }

            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                @apply text-white;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                @apply text-white;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                @apply text-white;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                @apply text-white;
            }

            @media only screen and (min-width: 768px) {
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: gray;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: gray;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: gray;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: gray;
                }
            }
        }
    }

    .select-filter__menu {
        z-index: 9999 !important;
    }
}
