.swiper-pagination-bullet-active {
    background: #1fbbec !important;
}

.swiper-button-prev,
.swiper-button-next {
    width: auto !important;
    height: auto !important;
    top: 100% !important;
    color: #1fbbec !important;

    @media only screen and (min-width: 768px) {
        top: 98% !important;
    }
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    font-size: 18px !important;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.2 !important;
}

.swiper-button-prev {
    &:before {
        content: 'Previous';
        left: 18px;
        font-size: 14px;
        @apply absolute top-0;
    }
}

.swiper-button-next {
    &:before {
        content: 'Next';
        right: 18px;
        font-size: 14px;
        @apply absolute top-0;
    }
}

.swiper-container.swiper-container-horizontal {
    padding-bottom: 40px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
    @apply bottom-0;

    @media only screen and (min-width: 768px) {
        bottom: 10px;
    }
}
