.react-tabs {
    margin-top: 58px;

    &__tab-list {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 22px;
        padding-bottom: 0;

        &:hover,
        &:focus {
            color: #1fbbec;
        }

        &::before,
        &::after {
            content: '';
        }
    }

    .react-tabs__tab {
        color: #293e45;
        padding: 8px 16px;
        cursor: pointer;
        line-height: 1.1;

        &--selected {
            color: #fff;
            background-color: #1fbbec;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            padding: 8px;
        }
    }
}
