.react-tabs {
    margin-top: 58px;

    &__tab-list {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 22px;
        padding-bottom: 0;

        &:hover,
        &:focus {
            color: #1fbbec;
        }

        &::before,
        &::after {
            content: '';
        }
    }

    .react-tabs__tab {
        color: #293e45;
        padding: 8px 16px;
        cursor: pointer;
        line-height: 1.1;

        &--selected {
            color: #fff;
            background-color: #1fbbec;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            padding: 8px;
        }
    }
}

.simple-tab .react-tabs {
    .worldmap-tab {
        .react-tabs__tab-list {
            justify-content: space-between;
            @media only screen and (min-width: 768px) {
                flex-direction: column;
                width: 67px;
                background: rgba(41, 62, 69, 0.1);
                border-radius: 4px;
                padding: 18px 14px;
                margin-right: 24px;
                margin-bottom: 24px;
                justify-content: start;
            }
        }

        .react-tabs__tab {
            border: none;
            margin: 0;
            text-align: center;
            opacity: 0.5;
            margin-bottom: -12px;
            position: relative;
            z-index: 1;
            padding: 14px 22px 23px;

            @media only screen and (min-width: 768px) {
                padding: 0;
                margin-bottom: 15px;
            }

            &:hover,
            &:focus {
                opacity: 1;
                > * {
                    color: #1fbbec;
                    fill: #1fbbec;
                }
            }

            &.react-tabs__tab--selected {
                opacity: 1;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: #1fbbec;
                    border-radius: 0 0 4px 4px;
                }

                > * {
                    position: relative;
                    color: #fff;
                    fill: #fff;
                }

                @media only screen and (min-width: 768px) {
                    &:before {
                        width: 76px;
                        left: -14px;
                        top: -10px;
                        border-radius: 0 4px 4px 0;
                    }
                }
            }
        }
    }
}

.contract-switch {
    li {
        border-bottom: 4px solid transparent;

        &.active {
            border-bottom-color: #1fbbec;
        }
    }
}

.simple-tab {
    .react-tabs {
        @apply mt-0;

        .react-tabs__tab {
            background: transparent;
            color: #293e45;
            font-size: 12px;
            padding: 0 0 2px;
            border-bottom: 4px solid transparent;
            margin-right: 16px;

            @media only screen and (min-width: 768px) {
                font-size: 16px;
            }

            &:last-child {
                @apply mr-0;
            }
        }

        .react-tabs__tab--selected {
            @apply border-primary-blue;
        }
    }
}
