.table-scroll {
    max-height: 700px;
    @apply overflow-y-auto;

    thead {
        th {
            @apply bg-primary-gray sticky top-0;
        }
    }
}

table {
    @apply w-full max-w-full bg-transparent;

    thead {
        th {
            font-size: 14px;
            @apply text-left font-normal uppercase p-2 align-bottom;
        }
    }

    tbody {
        td {
            padding: 18px 8px 12px;
            border-bottom: 1px solid #f1f1f1;
            font-size: 14px;

            @apply align-top bg-white;
        }

        tr {
            &:hover {
                td {
                    @apply bg-blue-0;
                }
            }
        }
    }
}

.table {
    thead {
        th:first-child {
            td {
                &:first-child {
                    @apply pl-5;
                }
            }
        }
    }
    tbody {
        // Remove a tag from here later
        tr,
        > a {
            &:first-child {
                td {
                    &:first-child {
                        border-top-left-radius: 6px;
                    }
                    &:last-child {
                        border-top-right-radius: 6px;
                    }
                }
            }
            &:last-child {
                td {
                    &:first-child {
                        border-bottom-left-radius: 6px;
                    }
                    &:last-child {
                        border-bottom-right-radius: 6px;
                    }
                }
            }

            td {
                &:first-child {
                    @apply pl-5;
                }
            }

            &.has-red-flag {
                td {
                    background-color: #fae9e9;
                }
            }
        }
    }

    thead {
        th {
            &:first-child {
                @apply pl-5;
            }
        }
    }
    &__resources {
        tbody tr {
            border-bottom: 1px solid #f1f1f1;
            @apply align-top bg-white;

            &:hover {
                @apply bg-blue-0;
            }
            td {
                @apply border-0;
            }
        }
    }
}

.status-indicator {
    width: 10px;
    height: 10px;
    min-height: 10px;
    min-width: 10px;
    @apply bg-transparent mr-1 inline-block rounded-full;

    &.active {
        background-color: #b174fe;
    }
    &.completed {
        background-color: #43ce94;
    }
    &.canceled {
        background-color: #c3bdcc;
    }
}

.sort {
    @apply flex flex-col justify-center;
}
