.error-container {
  background: #dceaee url("../../assets/img/icons/ic_covid-bg-patterns.svg") no-repeat center/cover;
}

@media only screen and (min-width: 768px) {
  .error-container {
    height: calc(100vh - 125px);
  }
}

.error-text {
  width: 260px;
  height: 280px;
  background: url("../../assets/img/icons/ic_covid-icon.svg") no-repeat;
  background-size: 100%;
}

@media only screen and (min-width: 768px) {
  .error-text {
    width: 320px;
    height: 323px;
    background-size: center cover;
  }
}

@font-face {
  font-family: 'GTEestiPro';
  src: url("../font/GTEestiProDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTEestiPro';
  src: url("../font/GTEestiProDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GTEestiPro';
  src: url("../font/GTEestiProDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

.react-tabs {
  margin-top: 58px;
}

.react-tabs__tab-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  padding-bottom: 0;
}

.react-tabs__tab-list:hover, .react-tabs__tab-list:focus {
  color: #1fbbec;
}

.react-tabs__tab-list::before, .react-tabs__tab-list::after {
  content: '';
}

.react-tabs .react-tabs__tab {
  color: #293e45;
  padding: 8px 16px;
  cursor: pointer;
  line-height: 1.1;
}

.react-tabs .react-tabs__tab--selected {
  color: #fff;
  background-color: #1fbbec;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 8px;
}

.simple-tab .react-tabs .worldmap-tab .react-tabs__tab-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .simple-tab .react-tabs .worldmap-tab .react-tabs__tab-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 67px;
    background: rgba(41, 62, 69, 0.1);
    border-radius: 4px;
    padding: 18px 14px;
    margin-right: 24px;
    margin-bottom: 24px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.simple-tab .react-tabs .worldmap-tab .react-tabs__tab {
  border: none;
  margin: 0;
  text-align: center;
  opacity: 0.5;
  margin-bottom: -12px;
  position: relative;
  z-index: 1;
  padding: 14px 22px 23px;
}

@media only screen and (min-width: 768px) {
  .simple-tab .react-tabs .worldmap-tab .react-tabs__tab {
    padding: 0;
    margin-bottom: 15px;
  }
}

.simple-tab .react-tabs .worldmap-tab .react-tabs__tab:hover, .simple-tab .react-tabs .worldmap-tab .react-tabs__tab:focus {
  opacity: 1;
}

.simple-tab .react-tabs .worldmap-tab .react-tabs__tab:hover > *, .simple-tab .react-tabs .worldmap-tab .react-tabs__tab:focus > * {
  color: #1fbbec;
  fill: #1fbbec;
}

.simple-tab .react-tabs .worldmap-tab .react-tabs__tab.react-tabs__tab--selected {
  opacity: 1;
  position: relative;
}

.simple-tab .react-tabs .worldmap-tab .react-tabs__tab.react-tabs__tab--selected:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #1fbbec;
  border-radius: 0 0 4px 4px;
}

.simple-tab .react-tabs .worldmap-tab .react-tabs__tab.react-tabs__tab--selected > * {
  position: relative;
  color: #fff;
  fill: #fff;
}

@media only screen and (min-width: 768px) {
  .simple-tab .react-tabs .worldmap-tab .react-tabs__tab.react-tabs__tab--selected:before {
    width: 76px;
    left: -14px;
    top: -10px;
    border-radius: 0 4px 4px 0;
  }
}

.contract-switch li {
  border-bottom: 2px solid transparent;
}

.contract-switch li.active {
  border-bottom-color: #1fbbec;
}

.simple-tab .react-tabs {
  @apply mt-0;
}

.simple-tab .react-tabs .react-tabs__tab {
  background: transparent;
  color: #293e45;
  font-size: 12px;
  padding: 0 0 2px;
  border-bottom: 4px solid transparent;
  margin-right: 16px;
}

@media only screen and (min-width: 768px) {
  .simple-tab .react-tabs .react-tabs__tab {
    font-size: 16px;
  }
}

.simple-tab .react-tabs .react-tabs__tab:last-child {
  @apply mr-0;
}

.simple-tab .react-tabs .react-tabs__tab--selected {
  @apply border-primary-blue;
}

.table-scroll {
  max-height: 700px;
  overflow-y: auto;
}

.table-scroll thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  @apply bg-primary-gray;
}

table {
  width: 100%;
  max-width: 100%;
  background: transparent;
}

table thead th {
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 8px 8px;
  vertical-align: bottom;
}

table tbody td {
  vertical-align: top;
  padding: 18px 8px 12px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 14px;
  background-color: #fff;
}

table tbody tr:hover td {
  @apply bg-blue-0;
}

.table thead th:first-child td:first-child {
  padding-left: 20px;
}

.table tbody tr:first-child td:first-child,
.table tbody > a:first-child td:first-child {
  border-top-left-radius: 6px;
}

.table tbody tr:first-child td:last-child,
.table tbody > a:first-child td:last-child {
  border-top-right-radius: 6px;
}

.table tbody tr:last-child td:first-child,
.table tbody > a:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

.table tbody tr:last-child td:last-child,
.table tbody > a:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.table tbody tr td:first-child,
.table tbody > a td:first-child {
  padding-left: 20px;
}

.table tbody tr.has-red-flag td,
.table tbody > a.has-red-flag td {
  background-color: #fae9e9;
}

.table thead th:first-child {
  padding-left: 20px;
}

.table__resources tbody tr {
  vertical-align: top;
  border-bottom: 1px solid #f1f1f1;
  background-color: #fff;
}

.table__resources tbody tr:hover {
  @apply bg-blue-0;
}

.table__resources tbody tr td {
  border: 0;
}

.status-indicator {
  width: 10px;
  height: 10px;
  min-height: 10px;
  min-width: 10px;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
  margin-right: 4px;
}

.status-indicator.active {
  background-color: #b174fe;
}

.status-indicator.completed {
  background-color: #43ce94;
}

.status-indicator.canceled {
  background-color: #c3bdcc;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tooltip {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.23s linear;
  transition: all 0.23s linear;
}

.tooltip a {
  display: inline-block;
  background: #3d393d;
  padding: 6px 16px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
}

.amcharts-amexport-item {
  width: auto !important;
  padding: 4px 8px !important;
  opacity: 1 !important;
  background-color: #fff !important;
  border: 1px solid #45beec;
  color: #45beec !important;
  font-size: 14px !important;
  cursor: pointer !important;
}

.amcharts-amexport-top .amcharts-amexport-item > .amcharts-amexport-menu {
  top: -3px !important;
  left: 2px;
}

.amcharts-amexport-label {
  padding: 0 4px !important;
  cursor: pointer !important;
}

.select-filter__control[class] {
  border: none;
  background: none;
  border-radius: 0;
  border-bottom: 2px solid #1fbbec;
  color: #293e45;
  -webkit-box-shadow: none;
          box-shadow: none;
  min-height: 28px;
}

@media only screen and (min-width: 768px) {
  .select-filter__control[class] {
    color: #293e45;
    border-bottom-color: #1fbbec;
  }
}

.select-filter__value-container[class] {
  padding: 0;
}

.select-filter__indicator-separator[class] {
  display: none;
}

.select-filter__indicator[class] {
  padding: 0;
}

.select-filter--input input,
.select-filter--input .field {
  padding: 3px 0 5px;
  background: none;
  border-bottom: 2px solid #fff;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 1.4;
  outline: none;
  color: #333;
}

@media only screen and (min-width: 768px) {
  .select-filter--input input,
  .select-filter--input .field {
    border-bottom-color: #1fbbec;
  }
}

.select-filter--input input::-webkit-input-placeholder,
.select-filter--input .field::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.select-filter--input input::-moz-placeholder,
.select-filter--input .field::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.select-filter--input input:-ms-input-placeholder,
.select-filter--input .field:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.select-filter--input input:-moz-placeholder,
.select-filter--input .field:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .select-filter--input input::-webkit-input-placeholder,
  .select-filter--input .field::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: gray;
  }
  .select-filter--input input::-moz-placeholder,
  .select-filter--input .field::-moz-placeholder {
    /* Firefox 19+ */
    color: gray;
  }
  .select-filter--input input:-ms-input-placeholder,
  .select-filter--input .field:-ms-input-placeholder {
    /* IE 10+ */
    color: gray;
  }
  .select-filter--input input:-moz-placeholder,
  .select-filter--input .field:-moz-placeholder {
    /* Firefox 18- */
    color: gray;
  }
}

.select-filter .select-filter__menu {
  z-index: 9999 !important;
}

.styled-checkbox {
  position: relative;
}

.styled-checkbox-input {
  position: absolute;
  opacity: 0;
}

.styled-checkbox-input + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox-input + label:before {
  content: '';
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 4px;
  border: 2px solid #1fbbec;
}

.styled-checkbox-input:checked + label:before {
  background: #1fbbec;
}

.styled-checkbox-input:checked + label:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 7px;
  background: white;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.loader:before, .loader:after {
  content: '';
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #1fbbec;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: animloader 2s linear infinite;
          animation: animloader 2s linear infinite;
}

.loader:after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes animloader {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes animloader {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.tooltip-icon {
  width: 20px;
  height: 20px;
}

.tooltip-icon svg {
  fill: currentColor;
}

.tooltip-content {
  background: #454545;
  min-width: 200px;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  opacity: 0;
  top: 30px;
  pointer-events: none;
  -webkit-transition: all 0.23s linear;
  transition: all 0.23s linear;
  right: -6px;
  z-index: 999;
}

.tooltip-content:before {
  content: '';
  position: absolute;
  top: -6px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #454545;
  right: 8px;
}

@media only screen and (min-width: 768px) {
  .tooltip-content {
    left: -6px;
    right: auto;
  }
  .tooltip-content:before {
    content: '';
    top: -6px;
    right: auto;
    left: 8px;
  }
}

.tooltip-wrap:hover .tooltip-content, .tooltip-wrap:focus .tooltip-content {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.23s linear;
  transition: all 0.23s linear;
}

.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.pagination-container .pagination-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-container .pagination-item {
  margin: 0 4px;
  color: #1fbbec;
  font-size: 14px;
  padding: 2px 8px;
}

.pagination-container .pagination-item.active {
  background-color: #1fbbec;
  color: #fff;
  border-radius: 4px;
  outline: none;
}

.pagination-container .pagination-item.active a {
  color: #fff;
  outline: none;
}

.pagination-container .pagination-item a {
  color: #1fbbec;
  font-size: 14px;
  cursor: pointer;
}

.pagination-container .pagination-item.next, .pagination-container .pagination-item.prev {
  text-indent: -9999px;
  position: relative;
}

.pagination-container .pagination-item.next a::after, .pagination-container .pagination-item.prev a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pagination-container .pagination-item.next {
  margin-left: 8px;
}

.pagination-container .pagination-item.next a::after {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #1fbbec;
}

.pagination-container .pagination-item.prev {
  margin-right: 8px;
}

.pagination-container .pagination-item.prev a::after {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #1fbbec;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .page-item {
  margin-right: 12px;
}

.pagination .page-item:last-child {
  margin-right: 0;
}

.pagination .page-item.active {
  background: #1fbbec;
}

.pagination .page-link {
  width: 24px;
  height: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.spinner {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: white;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.swiper-pagination-bullet-active {
  background: #1fbbec !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: auto !important;
  height: auto !important;
  top: 100% !important;
  color: #1fbbec !important;
}

@media only screen and (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 98% !important;
  }
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  font-size: 18px !important;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.2 !important;
}

.swiper-button-prev:before {
  content: 'Previous';
  position: absolute;
  top: 0;
  left: 18px;
  font-size: 14px;
}

.swiper-button-next:before {
  content: 'Next';
  position: absolute;
  top: 0;
  right: 18px;
  font-size: 14px;
}

.swiper-container.swiper-container-horizontal {
  padding-bottom: 40px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
  }
}

.race-map-section {
  width: 100%;
  height: 500px;
}

@media only screen and (min-width: 768px) {
  .race-map-section {
    height: 750px;
  }
}

.h-500 {
  width: 100%;
  height: 700px;
}

@media only screen and (min-width: 768px) {
  .h-500 {
    height: 500px;
  }
}

.h-500.global-map-section {
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .h-500.global-map-section {
    height: 700px;
  }
}

.h-500.compare-chart-section {
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .h-500.compare-chart-section {
    height: 700px;
  }
}

.h-400 {
  width: 100%;
  height: 400px;
}

.country-map-section {
  width: 100%;
  height: 430px;
  min-height: 400px;
}

.fullscreen-enabled {
  background: #fff;
  padding: 50px;
}

.fullscreen-enabled .race-map-section,
.fullscreen-enabled .country-map-section,
.fullscreen-enabled .h-400,
.fullscreen-enabled .h-500,
.fullscreen-enabled .chart-full {
  width: 100%;
  height: calc(100vh - 120px) !important;
}

.chart-footer .share-menu {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #dedede;
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 14px;
  min-width: 150px;
  padding: 10px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  z-index: 999;
}

.chart-footer button + .share-menu:active,
.chart-footer button:focus + .share-menu {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.social-icon {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #797979 !important;
  margin-bottom: 14px;
}

.social-icon:last-child {
  margin-bottom: 0;
}

.social-icon > span {
  display: inline-block;
  margin-left: 16px;
}

.social-icon.email {
  border-bottom: 1px solid #e9e9e9 !important;
  padding-bottom: 16px !important;
  margin-bottom: 0 !important;
}

.social-embed {
  color: #797979 !important;
}

#react-simple-modal-container .rsm-bg-white {
  min-height: 95% !important;
}

.bar-chart-race .chart-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-bottom: 16px;
}

.bar-chart-race .chart-footer .share-menu {
  bottom: 50px;
  top: auto;
  -webkit-transform: translateY(325px);
          transform: translateY(325px);
}

.custom-horizontal-bar ul li {
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 15px;
}

.custom-horizontal-bar ul li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.custom-horizontal-bar .custom-horizontal-bar-text {
  width: 236px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .custom-horizontal-bar .custom-horizontal-bar-text {
    width: 180px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.custom-horizontal-bar .custom-horizontal-bar-text h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.custom-horizontal-bar .custom-horizontal-bar-amount {
  width: 90px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.custom-horizontal-bar .custom-horizontal-bar-progress {
  height: 14px;
  width: 100%;
  margin-bottom: 8px;
  background: #dceaee;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .custom-horizontal-bar .custom-horizontal-bar-progress {
    width: calc(100% - 180px);
    margin-bottom: 0;
  }
}

.custom-horizontal-bar .custom-horizontal-bar-progress span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #abbabf;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.23s ease-in-out;
  transition: all 0.23s ease-in-out;
}

.custom-horizontal-bar.simple-bar ul li {
  border: none;
  margin-bottom: 0;
}

.custom-horizontal-bar.simple-bar ul li:last-child {
  padding-bottom: 0;
}

.custom-horizontal-bar.simple-bar .custom-horizontal-bar-text {
  width: 90px;
}

.custom-horizontal-bar.simple-bar .custom-horizontal-bar-progress {
  width: calc(100% - 80px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #dceaee;
          box-shadow: inset 0 0 6px #dceaee;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1fbbec;
  outline: 1px solid #1fbbec;
}

.toggle-switch {
  position: relative;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

.toggle-switch-checkbox {
  display: none;
}

.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
  margin: 0;
}

.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.toggle-switch-inner:before, .toggle-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 16px;
  padding: 0;
  line-height: 16px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.toggle-switch-inner:before {
  content: '';
  text-transform: uppercase;
  padding-left: 10px;
  background-color: #1fbbec;
  color: #fff;
}

.toggle-switch-disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.toggle-switch-disabled:before {
  background-color: #ddd;
  cursor: not-allowed;
}

.toggle-switch-inner:after {
  content: '';
  text-transform: uppercase;
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}

.toggle-switch-switch {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 13px;
  border: 0 solid #bbb;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0px;
}
/*# sourceMappingURL=base-components.css.map */