@mixin equalDimension($dimension) {
    width: $dimension;
    height: $dimension;
}

.hero-section {
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(
                89.93deg,
                rgba(61, 57, 61, 0.9) 32.6%,
                rgba(61, 57, 61, 0.3) 93.07%
            ),
            url('../img/hero-image.jpg') no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .outer-circle {
        @include equalDimension(667px);

        @media (max-width: 767px) {
            @include equalDimension(100%);
            border: 2px dashed rgba(255, 255, 255, 0.5);
            padding: 4px;
            border-radius: 4px;
        }
    }

    .inner-circle {
        @include equalDimension(633px);

        @media (max-width: 767px) {
            @include equalDimension(100%);
        }
    }
}

.covid-icon {
    position: absolute;
    left: -40%;
    top: 130px;
}

.lang {
    &::after {
        content: '';
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid white;
        right: 7px;
        top: 12px;
        pointer-events: none;
    }
}
.countrySelector {
    width: fit-content;
    &::after {
        content: '';
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #293e45;
        right: 7px;
        top: 13px;
        pointer-events: none;

        @media only screen and (min-width: 768px) {
            top: 28px;
        }
    }
}

.library {
    &__tag {
        @apply p-2 rounded-md bg-blue-20 text-center text-white text-xs inline-block mb-2 font-bold;
    }

    &__heading {
        @apply text-lg leading-tight mb-2 font-normal overflow-hidden;
        max-height: 54px;
    }

    &__date {
        @apply text-sm text-primary-dark text-opacity-75;
    }
}

button,
a,
Tab {
    outline: none;
    &:focus {
        outline: none;
    }
}
.currency {
    border: 1px solid #1fbbec;
}
.worldmap-share {
    transition: all 0.4s ease;
    .worldmap-share--buttons {
        border: 1px solid #1fbbec;
        display: none;
        bottom: 0;
        transition: all 0.4s ease;
    }
    &:hover {
        .worldmap-share--buttons {
            display: block;
        }
    }
}
.countrySelector {
    option {
        @apply text-sm;
    }
}
