@mixin equalDimension($dimension) {
    width: $dimension;
    height: $dimension;
}

.hero-section {
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(
                89.93deg,
                rgba(61, 57, 61, 0.9) 32.6%,
                rgba(61, 57, 61, 0.3) 93.07%
            ),
            url('../img/hero-image.jpg') no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .outer-circle {
        @include equalDimension(667px);

        @media (max-width: 767px) {
            @include equalDimension(567px);
        }
        // @media (max-width: 500px){
        //     @include equalDimension(400px);
        // }
    }

    .inner-circle {
        @include equalDimension(633px);

        @media (max-width: 767px) {
            @include equalDimension(533px);
        }
        // @media (max-width: 500px){
        //     @include equalDimension(370px);
        // }
    }
}

.covid-icon {
    position: absolute;
    left: -40%;
    top: 130px;
}

.lang {
    &::after {
        content: '';
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid white;
        right: 7px;
        top: 12px;
        pointer-events: none;
    }
}

.library {
    &__tag {
        @apply p-2 rounded-md bg-blue-20 text-center text-white text-xs inline-block mb-2 font-bold;
    }

    &__heading {
        @apply text-lg leading-tight mb-2 font-normal;
    }

    &__date {
        @apply text-sm text-primary-dark text-opacity-75;
    }
}
