@mixin equalDimension($dimension) {
    width: $dimension;
    height: $dimension;
}

.hero-section {
    @apply relative;

    &::before {
        content: '';
        background: linear-gradient(
                89.93deg,
                rgba(61, 57, 61, 0.9) 32.6%,
                rgba(61, 57, 61, 0.3) 93.07%
            ),
            url('../img/hero-image.jpg') no-repeat;
        @apply w-full h-full absolute top-0 left-0 bg-cover;
        z-index: -1;
    }

    .outer-circle {
        @include equalDimension(667px);

        @media (max-width: 767px) {
            @include equalDimension(100%);
            border: 2px dashed rgba(255, 255, 255, 0.5);
            @apply p-1 rounded;
        }
    }

    .inner-circle {
        @include equalDimension(633px);

        @media (max-width: 767px) {
            @include equalDimension(100%);
        }
    }
}

.covid-icon {
    @apply absolute;
    left: -40%;
    top: 130px;
}

.lang {
    &::after {
        content: '';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid white;
        right: 7px;
        @apply absolute pointer-events-none top-3;
    }
}
.country-selector {
    width: fit-content;
    &::after {
        content: '';
        @apply absolute pointer-events-none;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #293e45;
        right: 3px;
        top: 13px;
        @media only screen and (min-width: 768px) {
            top: 14px;
        }
    }

    .global {
        background: url('/assets/img/icons/ic_globe.svg') no-repeat;
        padding-left: 36px;
    }
}

.library {
    &__tag {
        @apply p-2 rounded-md bg-blue-20 text-center text-white text-xs inline-block mb-2 font-bold;
    }

    &__heading {
        max-height: 54px;
        @apply text-lg leading-tight mb-2 font-normal overflow-hidden;
    }

    &__date {
        @apply text-sm text-primary-dark text-opacity-75;
    }
}

button,
a {
    @apply outline-none;

    &:focus {
        @apply outline-none;
    }
}
.currency {
    @apply border border-primary-blue;
}

.worldmap-share {
    transition: all 0.4s ease;
    .worldmap-share--buttons {
        @apply border border-primary-blue hidden bottom-0;
        transition: all 0.4s ease;
    }
    &:hover {
        .worldmap-share--buttons {
            @apply block;
        }
    }
}

.countrySelector {
    option {
        @apply text-sm;
    }
}
