.display__item{
    .img-wrapper{
        .news__caption{
            position: absolute;
            bottom: 0;
        }
        &:before{
            content:"";
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(180deg, rgba(41, 62, 69, 0) 42.19%, #293E45 100%);
        }
    }
}
.news{
    .display__item .img-wrapper {
        @apply h-full;
    }
    .list__item .news-thumbnail{
        .img-wrapper{
            @apply h-auto;
            @apply m-0;
            @apply w-1/3;
            flex-shrink: 0;
        }
        &:not(:last-child){
            .news__item{
                border-bottom: 1px solid white;
                @apply pb-8 mb-8;
                
            }
        } 
    }
}  
.news__list{
    .display__item .img-wrapper {
        @apply h-full;
    }
    .list__item .news-thumbnail{
        .img-wrapper{
            @apply h-auto;
            @apply m-0;
            
        }
        &:not(:last-child){
            .news__item{
                @apply mb-8;
                
            }
        } 
    }
} 

.card{
   .img-wrapper{
       @apply h-auto;
   }
}
.events{
    .card{
        &__item{
            @apply bg-blue-0;
            transition: all .4s ease;
            &:hover{
                @apply bg-blue-20;
                @apply text-white;
            }
        }

    }
    &__past{
        .card__item{
            @apply bg-primary-gray;
        }
    }
}
.resources{
    .card{
        &__item{
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.02), 4px 4px 20px rgba(0, 0, 0, 0.1);
        }

    }
}