.news-caption {
    @apply absolute  text-white bottom-0 px-4 pb-1;

    &--large {
        @screen lg {
            @apply px-10 py-5;
        }

        .news-caption__title {
            @apply leading-snug;
        }
    }

    &__title {
        @apply text-lg leading-tight;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    &__date {
        @apply text-sm opacity-50;
    }
}

// Home page news section
.news-wrapper {
    .news-item {
        @apply relative col-span-12;
        @screen sm {
            @apply col-span-6;
        }
        @screen lg {
            @apply col-span-3;
        }
        // &:nth-last-child(2) {
        //     @apply col-span-12;
        //     @screen sm {
        //         @apply col-span-6;
        //     }
        //     @screen lg {
        //         @apply col-span-3 col-start-7 row-start-2;
        //     }
        // }
        // &:last-child {
        //     @apply col-span-12;
        //     @screen sm {
        //         @apply col-span-6;
        //     }
        //     @screen lg {
        //         @apply col-span-3 col-start-10 row-start-2;
        //     }
        // }

        &:first-child {
            @apply col-span-12;
            @screen sm {
                @apply col-span-6;
            }
            @screen lg {
                @apply col-span-6 row-span-2;
            }
        }

        &:not(:first-child) {
            .img-wrapper {
                height: 200px;
            }
        }
    }

    .news-link {
        &:hover {
            .img-gradient {
                &::before {
                    // background: rgba(41, 62, 69, 0.1);
                    opacity: 0.1;
                }
            }
        }
    }
}

.main-news {
    &__item {
        @apply col-span-6 flex justify-between;

        &:first-child {
            @apply flex-col row-span-3;

            .main-news__caption {
                order: 2;
                z-index: 10;
                color: #fff;
                bottom: 20px;
                left: 20px;
                position: absolute;
            }

            .img-wrapper {
                max-width: unset;
                max-height: 100%;
                @apply m-0;
            }
        }

        .img-wrapper {
            max-height: 120px;
            max-width: 135px;
            @apply mr-6;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    .news-caption__date {
        @apply mt-2;
    }
}
.blogs-detail,
.events-detail,
.news-detail {
    .img-wrapper {
        max-height: 554px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        max-width: 640px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply text-lg mb-6;
        }
        p {
            @apply mb-8;
        }
        ol {
            list-style: decimal;
        }
        ul {
            list-style: disc;
        }
        ol,
        ul {
            padding-left: 20px;
            @apply mb-6;
        }

        a {
            @apply text-primary-blue;
        }
    }

    &__metadata {
        @screen lg {
            max-width: 200px;
        }
    }
}
.events-thumbnail,
.blogs-thumbnail,
.news-thumbnail {
    @apply col-span-12;

    @screen sm {
        @apply col-span-6;
    }

    @screen lg {
        @apply col-span-4;
    }

    .img-wrapper {
        @apply mb-4;
        height: 240px;
    }
    .blogs-caption__title,
    .news-caption__title {
        @apply mb-1;
        max-height: 54px;
        overflow: hidden;
    }
}
.blogs-thumbnail {
    .blogs-caption__title {
        font-size: 1.375rem;
        line-height: 1.25;
    }
    .blogs-caption__date {
        font-size: 0.875rem;
        opacity: 0.5;
    }
}
.blogs-list .blogs-thumbnail {
    .blogs-caption__title {
        max-height: 90px;
        overflow: hidden;
    }
}
.form-search {
    width: 348px;
}
