@import './news';
@import './library';
@import './resources';

html {
    scroll-behavior: smooth;
}

body {
    @apply antialiased leading-snug;
    color: #293e45;
}

.header-inner-container {
    height: 125px;
}

header {
    &.header-inner {
        @apply relative;
        background-color: #293e45;

        &::after {
            content: '';
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            margin: auto;
            height: 35px;
            width: 110%;
            background: #293e45;
            border-radius: 0 0 50% 50%/0 0 100% 100%;
        }

        .lang select {
            background-color: #447483 !important;
        }
    }

    a.active {
        @apply text-primary-blue font-bold;
    }
}

#controls {
    @apply overflow-hidden pb-1;
}

.img-wrapper {
    @apply w-full h-full overflow-hidden;
}

.img-gradient {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: all 0.3s ease-in-out;
        @apply bg-blue-50;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(
            180deg,
            rgba(41, 62, 69, 0) 0%,
            #293e45 78.65%
        );
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.tag {
    @apply mr-2 mb-2 px-3 py-1 rounded-full bg-primary-gray text-primary-dark text-sm;
}

.social-icon {
    &:not(:last-child) {
        margin-right: 20px;
    }

    margin-bottom: 14px !important;
}

.arrow-nav {
    li.active {
        @apply relative;

        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 12px;
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid #1fbbec;
        }
    }
}

.contract-line {
    width: 18px;
    margin-right: 10px;
    display: flex;
    align-items: center;

    .line {
        height: 2px;
        display: inline-block;
        width: 100%;

        &.red {
            background: #f97878;
        }

        &.purple {
            background: #b174fe;
        }

        &.mint {
            background: #43ce94;
        }

        &.green {
            background: #b4bc3e;
        }

        &.blue {
            background: #419ab7;
        }
    }
}

.contract-text {
    width: calc(100% - 18px);
}

.global-profile {
    > section {
        padding-bottom: 24px;

        @media only screen and (min-width: 768px) {
            padding-bottom: 90px;
        }
    }

    .react-tabs {
        margin-top: -40px;
        flex: 1;
    }

    .simple-tab {
        .react-tabs {
            margin-top: 0;
        }
    }
}

.rsm-fixed {
    background-color: rgba(41, 62, 69, 0.9) !important;
    margin: 0 !important;
    padding: 16px;
}

.rsm-bg-white {
    max-width: 900px !important;
    width: 100% !important;
}

.secondary-nav {
    ul {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 14px;
        padding-bottom: 0;

        @media only screen and (min-width: 768px) {
            font-size: 22px;
        }

        li {
            margin-right: 8px;

            @media only screen and (min-height: 768px) {
                margin-right: 16px;
            }

            &:last-child {
                margin-right: 0;
            }
            a {
                color: #293e45;
                padding: 8px;
                cursor: pointer;
                line-height: 1.1;
                display: inline-block;

                &:hover,
                &:focus,
                &.active {
                    color: #fff;
                    background-color: #1fbbec;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    padding: 8px;
                }
            }
        }
    }
}

.map-wrapper {
    .amcharts-amexport-menu-level-0.amcharts-amexport-top {
        right: 44px !important;
    }
}

svg tspan {
    text-transform: capitalize;
}

.breadcrumb-separator:after {
    content: ' / ';
}

.text-field {
    border-bottom: 2px solid #ffffff;
    padding: 8px 0 9px 0;
    background-color: inherit;

    @media only screen and (min-width: 768px) {
        border-bottom-color: #1fbbec;
    }
}

.react-datepicker {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.product-worldmap-tab {
    display: flex;
    padding: 18px 14px 0;
    font-size: 18px;

    @media only screen and (min-width: 768px) {
        position: relative;
        align-items: center;
        font-size: 22px;
        flex-direction: column;
        width: 67px;
        background: rgba(41, 62, 69, 0.1);
        border-radius: 4px;
        padding: 18px;
        margin-right: 24px;
        margin-bottom: 24px;
    }
}

.product-worldmap-tablist.active {
    position: relative;

    > div {
        position: relative;
        color: #fff;
    }

    &:before {
        content: '';
        position: absolute;
        width: 68px;
        height: 75px;
        background: #1fbbec;
        border-radius: 0 0 4px 4px;
        left: 50%;
        top: -14px;
        right: 0;
        transform: translateX(-50%);
    }

    @media only screen and (min-width: 768px) {
        &:before {
            content: '';
            position: absolute;
            width: 76px;
            left: -18px;
            top: -10px;
            right: 0px;
            bottom: -5px;
            background: #1fbbec;
            border-radius: 0 4px 4px 0;
            transform: none;
        }
    }
}

.right-direction {
    .react-tabs__tab-list {
        display: flex;
        @media only screen and (min-width: 768px) {
            justify-content: flex-end;
        }
    }
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.icon-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #374a50;
    border-radius: 50%;
    transition: all 0.3s linear;

    &:hover,
    &:focus {
        background-color: #de5c52;
        transition: all 0.3s linear;
    }

    &:before,
    &:after {
        content: '';
        width: 4px;
        height: 22px;
        position: absolute;
        background-color: #fff;
        display: inline-block;
        border-radius: 4px;
        top: 9px;
        left: 18px;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

.world-map-section {
    @media only screen and (min-height: 768px) {
        min-height: 700px;
    }
}

.world-map-chart-section {
    @media only screen and (min-height: 768px) {
        width: calc(100% - 91px);
    }
}

.icon-sort {
    display: inline-block;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 4px;

    .icon-sort-arrow-up {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #ccc;
        margin-bottom: 2px;

        &.active {
            border-bottom-color: #8d989b;
        }
    }

    .icon-sort-arrow-down {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #ccc;

        &.active {
            border-top-color: #8d989b;
        }
    }
}

.filter-ui {
    padding: 16px;
    background: #1fbbec;
    display: inline-block;
    border-radius: 4px 0 0 4px;
    position: absolute;
    top: 114px;
    right: -18px;
    z-index: 1;
}

.context-menu-dropdown {
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dedede;
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 14px;
    min-width: 300px;
    padding: 10px;
    transform: translateY(-5px);
    z-index: 999;
    max-height: 300px;
    overflow-y: auto;

    li {
        margin-bottom: 8px;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
            border: none;
            padding-bottom: 0;
        }
    }
}

.context-menu {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #3d393d;
    position: relative;
    top: -2px;
}

.context-menu + .context-menu-dropdown:active,
.context-menu:focus + .context-menu-dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(20px);
}
