@import './news';

body {
    @apply antialiased leading-snug;
    color: #293e45;
}

.header-inner-container {
    height: 125px;
}

header {
    &.header-inner {
        @apply relative;
        background-color: #293e45;

        &::after {
            content: '';
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            margin: auto;
            height: 35px;
            width: 110%;
            background: #293e45;
            border-radius: 0 0 50% 50%/0 0 100% 100%;
        }

        .lang select {
            background-color: #447483 !important;
        }
    }

    a.active {
        color: #1fbbec;
    }
}

#controls {
    overflow: hidden;
    padding-bottom: 3px;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-gradient {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: all 0.3s ease-in-out;
        @apply bg-blue-50;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(
            180deg,
            rgba(41, 62, 69, 0) 0%,
            #293e45 78.65%
        );
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.tag {
    @apply mr-2 mb-2 px-3 py-1 rounded-full bg-primary-gray text-primary-dark text-sm;
}

.social-icon {
    &:not(:last-child) {
        margin-right: 20px;
    }
}

.simple-tab {
    .react-tabs {
        margin-top: 0;

        .react-tabs__tab {
            background: transparent;
            color: #293e45;
            font-size: 16px;
            padding: 0 0 4px;
            border-bottom: 4px solid transparent;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        .react-tabs__tab--selected {
            border-bottom-color: #1fbbec;
        }
    }
}

.arrow-nav {
    li.active {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 12px;
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid #1fbbec;
        }
    }
}

.contract-line {
    width: 18px;
    margin-right: 10px;
    display: flex;
    align-items: center;

    .line {
        height: 2px;
        display: inline-block;
        width: 100%;

        &.red {
            background: #f97878;
        }

        &.purple {
            background: #b174fe;
        }

        &.mint {
            background: #43ce94;
        }

        &.green {
            background: #b4bc3e;
        }

        &.blue {
            background: #419ab7;
        }
    }
}

.contract-text {
    width: calc(100% - 18px);
}

.global-profile {
    > section {
        padding-bottom: 90px;
    }

    .react-tabs {
        margin-top: -40px;
    }

    .simple-tab {
        .react-tabs {
            margin-top: 0;
        }
    }
}
