@import './news';
@import './library';
@import './resources';
body {
    @apply antialiased leading-snug;
    color: #293e45;
}

.header-inner-container {
    height: 125px;
}

header {
    &.header-inner {
        @apply relative;
        background-color: #293e45;

        &::after {
            content: '';
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            margin: auto;
            height: 35px;
            width: 110%;
            background: #293e45;
            border-radius: 0 0 50% 50%/0 0 100% 100%;
        }

        .lang select {
            background-color: #447483 !important;
        }
    }

    a.active {
        @apply text-primary-blue font-bold;
    }
}

#controls {
    @apply overflow-hidden pb-1;
}

.img-wrapper {
    @apply w-full h-full overflow-hidden;
}

.img-gradient {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: all 0.3s ease-in-out;
        @apply bg-blue-50;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(
            180deg,
            rgba(41, 62, 69, 0) 0%,
            #293e45 78.65%
        );
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.tag {
    @apply mr-2 mb-2 px-3 py-1 rounded-full bg-primary-gray text-primary-dark text-sm;
}

.social-icon {
    &:not(:last-child) {
        margin-right: 20px;
    }
}

.simple-tab {
    .react-tabs {
        @apply mt-0;

        .react-tabs__tab {
            background: transparent;
            color: #293e45;
            font-size: 16px;
            padding: 0 0 4px;
            border-bottom: 4px solid transparent;
            margin-right: 10px;

            &:last-child {
                @apply mr-0;
            }
        }

        .react-tabs__tab--selected {
            @apply border-primary-blue;
        }
    }
}

.arrow-nav {
    li.active {
        @apply relative

        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 12px;
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid #1fbbec;
        }
    }
}

.contract-line {
    width: 18px;
    margin-right: 10px;
    display: flex;
    align-items: center;

    .line {
        height: 2px;
        display: inline-block;
        width: 100%;

        &.red {
            background: #f97878;
        }

        &.purple {
            background: #b174fe;
        }

        &.mint {
            background: #43ce94;
        }

        &.green {
            background: #b4bc3e;
        }

        &.blue {
            background: #419ab7;
        }
    }
}

.contract-text {
    width: calc(100% - 18px);
}

.global-profile {
    > section {
        padding-bottom: 90px;
    }

    .react-tabs {
        margin-top: -40px;
        flex: 1;
    }

    .simple-tab {
        .react-tabs {
            margin-top: 0;
        }
    }
}

.custom-horizontal-bar {
    ul {
        li {
            padding-bottom: 10px;
            border-bottom: 1px solid #f1f1f1;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
            }
        }
    }
    .custom-horizontal-bar-text {
        width: 180px;
        flex-shrink: 0;

        h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    }
    .custom-horizontal-bar-amount {
        width: 60px;
        flex-shrink: 0;
    }

    .custom-horizontal-bar-progress {
        margin-left: 17px;
        height: 14px;
        width: calc(100% - 180px);
        background: #dceaee;
        position: relative;

        span {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            top: 0;
            background-color: #abbabf;
            bottom: 0;
            z-index: 1;
            transition: all 0.23s ease-in-out;
        }
    }

    &.simple-bar {
        ul {
            li {
                border: none;
                margin-bottom: 0;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
        .custom-horizontal-bar-text {
            width: 100px;
        }
        .custom-horizontal-bar-progress {
            width: calc(100% - 80px);
        }
    }
}

.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px #dceaee;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1fbbec;
        outline: 1px solid #1fbbec;
    }
}

.fullscreen-enabled {
    background: #fff;
    padding: 50px;
}

.rsm-fixed {
    background-color: rgba(41, 62, 69, 0.9) !important;
    margin: 0 !important;
    padding: 16px;
}

.rsm-bg-white {
    max-width: 900px !important;
    width: 100% !important;
}

.secondary-nav {
    ul {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 22px;
        padding-bottom: 0;

        li {
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: #293e45;
                padding: 8px;
                cursor: pointer;
                line-height: 1.1;
                display: inline-block;

                &:hover,
                &:focus,
                &.active {
                    color: #fff;
                    background-color: #1fbbec;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    padding: 8px;
                }
            }
        }
    }
}
