.news-caption {
  @apply absolute  text-white bottom-0 px-4 pb-4;
}

@screen lg {
  .news-caption--large {
    @apply px-10 py-5;
  }
}

.news-caption--large .news-caption__title {
  @apply leading-snug overflow-hidden;
}

.news-caption__title {
  @apply text-lg leading-tight;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .news-caption__title {
    -webkit-line-clamp: 3;
  }
}

.news-caption__date {
  @apply text-sm opacity-50;
}

.news-wrapper .news-item {
  @apply relative col-span-12;
}

@screen sm {
  .news-wrapper .news-item {
    @apply col-span-6;
  }
}

@screen lg {
  .news-wrapper .news-item {
    @apply col-span-3;
  }
}

.news-wrapper .news-item:first-child {
  @apply col-span-12;
}

@screen sm {
  .news-wrapper .news-item:first-child {
    @apply col-span-6;
  }
}

@screen lg {
  .news-wrapper .news-item:first-child {
    @apply col-span-6 row-span-2;
  }
}

.news-wrapper .news-item:not(:first-child) .img-wrapper {
  height: 200px;
}

.news-wrapper .news-link:hover .img-gradient::before {
  opacity: 0.1;
}

.main-news__item {
  @apply col-span-6 flex justify-between;
}

.main-news__item:first-child {
  @apply flex-col row-span-3;
}

.main-news__item:first-child .main-news__caption {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  z-index: 10;
  color: #fff;
  bottom: 20px;
  left: 20px;
  position: absolute;
}

.main-news__item:first-child .img-wrapper {
  max-width: unset;
  max-height: 100%;
  @apply m-0;
}

.main-news__item .img-wrapper {
  max-height: 120px;
  max-width: 135px;
  @apply mr-6;
}

.main-news__item .img-wrapper img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-news .news-caption__date {
  @apply mt-2;
}

.blogs-detail .img-wrapper,
.events-detail .img-wrapper,
.news-detail .img-wrapper {
  max-height: 554px;
}

.blogs-detail .img-wrapper img,
.events-detail .img-wrapper img,
.news-detail .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.blogs-detail__content,
.events-detail__content,
.news-detail__content {
  max-width: 640px;
}

.blogs-detail__content h1,
.blogs-detail__content h2,
.blogs-detail__content h3,
.blogs-detail__content h4,
.blogs-detail__content h5,
.blogs-detail__content h6,
.events-detail__content h1,
.events-detail__content h2,
.events-detail__content h3,
.events-detail__content h4,
.events-detail__content h5,
.events-detail__content h6,
.news-detail__content h1,
.news-detail__content h2,
.news-detail__content h3,
.news-detail__content h4,
.news-detail__content h5,
.news-detail__content h6 {
  @apply text-lg mb-6;
}

.blogs-detail__content p,
.events-detail__content p,
.news-detail__content p {
  @apply mb-8;
}

.blogs-detail__content ol,
.events-detail__content ol,
.news-detail__content ol {
  list-style: decimal;
}

.blogs-detail__content ul,
.events-detail__content ul,
.news-detail__content ul {
  list-style: disc;
}

.blogs-detail__content ol,
.blogs-detail__content ul,
.events-detail__content ol,
.events-detail__content ul,
.news-detail__content ol,
.news-detail__content ul {
  padding-left: 20px;
  @apply mb-6;
}

.blogs-detail__content a,
.events-detail__content a,
.news-detail__content a {
  @apply text-primary-blue;
}

@screen lg {
  .blogs-detail__metadata,
  .events-detail__metadata,
  .news-detail__metadata {
    max-width: 200px;
  }
}

.events-thumbnail,
.blogs-thumbnail,
.news-thumbnail {
  @apply col-span-12;
}

@screen sm {
  .events-thumbnail,
  .blogs-thumbnail,
  .news-thumbnail {
    @apply col-span-6;
  }
}

@screen lg {
  .events-thumbnail,
  .blogs-thumbnail,
  .news-thumbnail {
    @apply col-span-4;
  }
}

.events-thumbnail .img-wrapper,
.blogs-thumbnail .img-wrapper,
.news-thumbnail .img-wrapper {
  @apply mb-4;
  height: 240px;
}

.events-thumbnail .blogs-caption__title,
.events-thumbnail .news-caption__title,
.blogs-thumbnail .blogs-caption__title,
.blogs-thumbnail .news-caption__title,
.news-thumbnail .blogs-caption__title,
.news-thumbnail .news-caption__title {
  @apply mb-1;
  overflow: hidden;
}

.blogs-thumbnail .blogs-caption__title {
  font-size: 1.375rem;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blogs-thumbnail .blogs-caption__date {
  font-size: 0.875rem;
  opacity: 0.5;
}

.blogs-list .blogs-thumbnail .blogs-caption__title {
  max-height: 90px;
  @apply overflow-hidden;
}

.form-search {
  width: 348px;
}

.events .card__title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.resources .card__title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.display__item .img-wrapper .news__caption {
  position: absolute;
  bottom: 0;
}

.display__item .img-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(42.19%, rgba(41, 62, 69, 0)),
    to(#293e45)
  );
  background: linear-gradient(180deg, rgba(41, 62, 69, 0) 42.19%, #293e45 100%);
}

.news .display__item .img-wrapper {
  @apply h-full;
}

.news .list__item .news-thumbnail .img-wrapper {
  @apply h-auto;
  @apply m-0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  @apply w-1/3;
}

.news .list__item .news-thumbnail:not(:last-child) .news__item {
  border-bottom: 1px solid white;
  @apply pb-8 mb-8;
}

.news__list .display__item .img-wrapper {
  @apply h-full;
}

.news__list .list__item .news-thumbnail .img-wrapper {
  @apply h-auto;
  @apply m-0;
}

.news__list .list__item .news-thumbnail:not(:last-child) .news__item {
  @apply mb-8;
}

.card .img-wrapper {
  @apply h-auto;
}

.events .events-thumbnail {
  @apply bg-blue-0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.events .events-thumbnail:hover {
  @apply bg-blue-20;
  @apply text-white;
}

.events__past .events-thumbnail {
  @apply bg-primary-gray;
}

.resources .card__item {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.02),
    4px 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.02), 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.resources__cards .list__item .img-wrapper {
  @apply w-1/3;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.blogs-list .img-wrapper {
  @apply h-full;
}

.related-section {
  max-width: 246px;
}

.related-section .related__list {
  border-bottom: 1px solid #eeeeee;
}

.related-section .related__list img {
  height: 90px;
}

.related-section .related__list:last-child {
  border-bottom: 0;
  @apply mb-0 pb-0;
}

.detail__metadata {
  max-width: 170px;
}

.details ul {
  padding: 0;
  margin: 0;
}

.details ul li:before {
  content: '';
  position: absolute;
  height: 6px;
  width: 6px;
  left: 0;
  top: 6px;
  position: block;
  background: #1fbbec;
}

.details table {
  border: 1px solid #eee;
}

.details table tr:not(:last-child) {
  border: 1px solid #eee;
}

.details table th {
  width: 180px;
  border-right: 1px solid #eee;
}

.resource-download {
  border: 2px solid #dceaee;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased leading-snug;
  color: #293e45;
}

.header-inner-container {
  height: 125px;
}

header.header-inner {
  @apply relative;
  background-color: #293e45;
}

header.header-inner::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: auto;
  height: 35px;
  width: 110%;
  background: #293e45;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
}

header.header-inner .lang select {
  background-color: #447483 !important;
}

header a.active {
  @apply text-primary-blue font-bold;
}

#controls {
  @apply overflow-hidden pb-1;
}

.img-wrapper {
  @apply w-full h-full overflow-hidden;
}

.img-gradient {
  position: relative;
}

.img-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  @apply bg-blue-50;
}

.img-gradient::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(41, 62, 69, 0)),
    color-stop(78.65%, #293e45)
  );
  background: linear-gradient(180deg, rgba(41, 62, 69, 0) 0%, #293e45 78.65%);
}

.img-gradient img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.tag {
  @apply mr-2 mb-2 px-3 py-1 rounded-full bg-primary-gray text-primary-dark text-sm;
}

.social-icon {
  margin-bottom: 14px !important;
}

.social-icon:not(:last-child) {
  margin-right: 20px;
}

@apply relative

        &:before {
  .arrow-nav li.active {
    content: '';
    position: absolute;
    right: 0;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #1fbbec;
  }
}

.contract-line {
  width: 18px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contract-line .line {
  height: 2px;
  display: inline-block;
  width: 100%;
}

.contract-line .line.red {
  background: #f97878;
}

.contract-line .line.purple {
  background: #b174fe;
}

.contract-line .line.mint {
  background: #43ce94;
}

.contract-line .line.green {
  background: #b4bc3e;
}

.contract-line .line.blue {
  background: #419ab7;
}

.contract-text {
  width: calc(100% - 18px);
}

.global-profile > section {
  padding-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .global-profile > section {
    padding-bottom: 90px;
  }
}

.global-profile .react-tabs {
  margin-top: -40px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.global-profile .simple-tab .react-tabs {
  margin-top: 0;
}

.rsm-fixed {
  background-color: rgba(41, 62, 69, 0.9) !important;
  margin: 0 !important;
  padding: 16px;
}

.rsm-bg-white {
  max-width: 900px !important;
  width: 100% !important;
}

.secondary-nav ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .secondary-nav ul {
    font-size: 22px;
  }
}

.secondary-nav ul li {
  margin-right: 8px;
}

@media only screen and (min-height: 768px) {
  .secondary-nav ul li {
    margin-right: 16px;
  }
}

.secondary-nav ul li:last-child {
  margin-right: 0;
}

.secondary-nav ul li a {
  color: #293e45;
  padding: 8px;
  cursor: pointer;
  line-height: 1.1;
  display: inline-block;
}

.secondary-nav ul li a:hover,
.secondary-nav ul li a:focus,
.secondary-nav ul li a.active {
  color: #fff;
  background-color: #1fbbec;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 8px;
}

.map-wrapper .amcharts-amexport-menu-level-0.amcharts-amexport-top {
  right: 44px !important;
}

svg tspan {
  text-transform: capitalize;
}

.breadcrumb-separator:after {
  content: ' / ';
}

.text-field {
  border-bottom: 2px solid #ffffff;
  padding: 8px 0 9px 0;
  background-color: inherit;
}

@media only screen and (min-width: 768px) {
  .text-field {
    border-bottom-color: #1fbbec;
  }
}

.react-datepicker {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.product-worldmap-tab {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 67px;
  background: rgba(41, 62, 69, 0.1);
  border-radius: 4px;
  padding: 18px 14px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.product-worldmap-tablist.active {
  position: relative;
}

.product-worldmap-tablist.active > div {
  position: relative;
  color: #fff;
}

.product-worldmap-tablist.active:before {
  content: '';
  position: absolute;
  width: 76px;
  left: -14px;
  top: -5px;
  right: 0px;
  bottom: -5px;
  background: #1fbbec;
  border-radius: 0 4px 4px 0;
}

.right-direction .react-tabs__tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .right-direction .react-tabs__tab-list {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #374a50;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.icon-close:hover,
.icon-close:focus {
  background-color: #de5c52;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.icon-close:before,
.icon-close:after {
  content: '';
  width: 4px;
  height: 22px;
  position: absolute;
  background-color: #fff;
  display: inline-block;
  border-radius: 4px;
  top: 9px;
  left: 18px;
}

.icon-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.icon-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (min-height: 768px) {
  .world-map-section {
    min-height: 900px;
  }
}

@media only screen and (min-height: 768px) {
  .world-map-chart-section {
    width: calc(100% - 91px);
  }
}

.icon-sort {
  display: inline-block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 4px;
}

.icon-sort .icon-sort-arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ccc;
  margin-bottom: 2px;
}

.icon-sort .icon-sort-arrow-up.active {
  border-bottom-color: #8d989b;
}

.icon-sort .icon-sort-arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ccc;
}

.icon-sort .icon-sort-arrow-down.active {
  border-top-color: #8d989b;
}

.filter-ui {
  padding: 16px;
  background: #1fbbec;
  display: inline-block;
  border-radius: 4px 0 0 4px;
  position: absolute;
  top: 114px;
  right: -18px;
  z-index: 1;
}
/*# sourceMappingURL=custom.css.map */
